:root {
    --background-color: #EEEEEE;
    --primary-color: #222831;
    --secondary-color: #31363F;
    --text-color: #FFFFFF;
    --opacity-primary: 0.7;
    --opacity-secondary: 0.2;
}

.custom-sidebar {
    width: 200px;
    position: relative;
    /* Ajuste a largura conforme necessário */
}

.custom-main {
    flex: 0 0 80%;
    /* Ajuste a largura conforme necessário */
    max-width: 100%;
    /* Ajuste a largura conforme necessário */
}

body {
    background-color: var(--background-color);
}

#checkbox-table {
    display: flex;
    justify-content: center;
}

#nav-principal {
    height: 7vh;
    background-color: var(--primary-color);
    opacity: var(--opacity-primary);
}

#hr-system {
    color: var(--text-color);
}

#nav-lateral {
    /* position: fixed; */
    height: calc(100vh - 4em);
    background-color: var(--secondary-color);
    opacity: var(--opacity-secondary);
    color: var(--text-color);
}

#elem-nav-lat {
    color: var(--text-color);
}

#main-form-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    height: 100vh;
    padding: 15px;
}



#listUserForm {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
}

#editUserForm {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: left;
    /* height: 100vh; */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
}


/* <--- PÁGINA DE EDIÇÃO ---> */
#userForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    left: 20rem;
    right: 20rem;
    width: 92rem;
    padding: 2rem;
    gap: 2rem;
    background-color: #FFFFFF;
}

.abas-cadastro {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.aba {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.aba.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-col-1,
.row-col-2,
.row-col-3 {
    display: flex;
    flex-direction: column;
}


.row-col-1 {
    width: 35rem;
}

.row-col-2 {
    width: 15rem;
}

.row-col-3 {
    width: 15rem;
}