:root {
    --background-color: #EEEEEE;
    --primary-color: #222831;
    --secondary-color: #31363F;
    --text-color: #000;
    --opacity-primary: 0.9;
    --opacity-secondary: 0.5;
}

.custom-sidebar {
    width: 200px;
    /* Ajuste a largura conforme necessário */
}

.custom-main {
    flex: 0 0 80%;
    /* Ajuste a largura conforme necessário */
    max-width: 100%;
    /* Ajuste a largura conforme necessário */
}

body {
    background-color: var(--background-color);
}

#checkbox-table {
    display: flex;
    justify-content: center;
}

#nav-principal {
    height: 7vh;
    box-shadow: 2px 2px 3px #222831;
    background-color: var(--primary-color);
    opacity: var(--opacity-primary);
}

#hr-system {
    color: var(--text-color);
}

#nav-lateral {
    height: 100vh;
    box-shadow: 1px 1px 1px #222831;
    background-color: var(--secondary-color);
    opacity: var(--opacity-secondary);
    color: var(--text-color);
}

#elem-nav-lat {
    color: #fff;
}

.btn-camp-pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.3rem;
}

#main-form-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    height: 100vh;
    padding: 15px;
}

#main-form-user-edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    height: 100vh;
    padding: 15px;
    padding-top: 30px;
}

#listUserForm {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
}

#editUserForm {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: left;
    /* height: 100vh; */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
}

#userForm {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: left;
    /* height: 100vh; */
    border-radius: 8px;
    padding: 40px;
    width: 100%;
}

#table-users {
    text-align: center;
    align-items: center;
}