:root {
    --background-color: #EEEEEE;
    --primary-color: #222831;
    --secondary-color: #31363F;
    --text-color: #FFFFFF;
    --opacity-primary: 0.7;
    --opacity-secondary: 0.2;
}

body {
    background-color: var(--background-color);
}

#nav-principal {
    height: 7vh;
    background-color: var(--primary-color);
    opacity: var(--opacity-primary);
}

#hr-system {
    color: var(--text-color);
}

#nav-lateral {
    height: 100vh;
    background-color: var(--secondary-color);
    opacity: var(--opacity-secondary);
    color: var(--text-color);
}

#elem-nav-lat {
    color: var(--text-color);
}

#main-form-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    height: 100vh;
    padding: 15px;
}

#listUserForm {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
}

#table-users {
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

#checkbox-table {
    display: flex;
    justify-content: center;
}